.App {
  padding: 50px 100px;
}

.searchForm input {
  border: 2px solid blue;
  padding: 10px;
  font-size: 10px;
}

.searchForm button {
  background-color: red;
  color: white;
  padding: 12px;
  font-size: 18px;
  border: 0;
}